*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  overflow: hidden;
}
.main-title {
  margin: 30px;
  text-align: center;
}
section {
  font-size: 16px;
  width: 700px;
  max-width: 100%;
}
.message-container {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  padding: 4px 8px;
}
