body {
  height: 100vh;
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #eb9721;
  transition: 0.2s, background 0.3s;
  transform: scale(1.5);
}
.block:before,
.block:after {
  content: '';
  position: absolute;
  top: 24px;
  width: 10px;
  height: 0;
  transition: all 0.2s;
  border-style: solid;
  border-color: #fff transparent #fff transparent;
  border-width: 0 0 50px 0;
}

.block:before {
  left: 30px;
}
.block:after {
  left: 60px;
}

.block:hover {
  background: #75b663;
}
.block:hover:before {
  top: 15px;
  left: 45px;
  width: 0;
  transform: rotate(90deg);
  border-width: 0 0 48px 24px;
}
.block:hover:after {
  top: 39px;
  left: 45px;
  width: 0;
  transform: rotate(90deg);
  border-width: 0 24px 48px 0;
}

.block:active {
  background: #ff2525;
}
.block:active:before {
  top: 30px;
  left: 30px;
  width: 40px;
  transition: 0.3s;
  transform: rotate(270deg);
  border-width: 0 0 40px 0;
}
.block:active:active:after {
  top: 30px;
  left: 30px;
  width: 0;
  transition: 0.3s;
  transform: rotate(270deg);
  border-width: 0 0 0 0;
}
