body {
  height: 100vh;
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block {
  width: 250px;
  height: 250px;
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.4);
  background: #03a9f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: monospace;
  font-size: 24px;
  font-weight: 600;
  border-radius: 3px;
  border: 3px solid #3f51b5;
}
